



#map {
	height: 600px;
}

/* #item {
	position: absolute;
	display: inline-block;
	text-align: center;
	top: 450px;
	left: 50%;
	right: 0;
	margin: 0 auto;
} */


/** *** ** Map tooltip-specific stylings ** *** **/

/* Location pointer placed at the tooltip tip */
.anchor {
	height: 0;
	position: absolute;
	width: 400px; /* Width maximum of the info window */
}

/* Anchor just above the tip for the tooltip */
.spike {
	position: absolute;
	width: 100%;
	bottom: 12px; /* Tip height for the anchor */
	left: 0;
}

/* Draw the actual anchor tip itself */
.spike::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	transform: translate( -50%, 0 ); /* Position the tip horizontally */
	/* Create a triangular-shaped tip */
	/*
		Go to:
			https://css-tricks.com/snippets/css/css-triangle/
		...for more!
	*/
	width: 0;
	height: 0;
	/* Using borders for tip height and width */
	border-left: 6px solid transparent; /* On the left, half of the width */
	border-right: 6px solid transparent; /* Right half, a 12px total width */
	border-top: 8px solid white; /* Height of tip is 8px high */
}

/* Farmer market content itself lies here */
.view {
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	transform: translate( -50%, -100% );
	/* Style the market content window */
	background-color: white;
	padding: 5px;
	border-radius: 25px;
	font-family: sans-serif;
	overflow-y: auto;
	max-height: 60px;
	/* height: 25px; */
	min-width: 40px;
	box-shadow: 0px 2px 10px 1px rgba( 0, 0, 0, 0.5 );
}

.view h6 {
	font-size: 1.1em;
	padding: 2px 4px;
	margin: 0;
}

.view p {
	margin: 0;
}


