



@import url( 'https://fonts.googleapis.com/css?family=Montserrat:300' );



html {
	font-family: 'Montserrat', sans-serif;
	max-width: 780px;
	margin: auto;
}

h1 {
	font-size: 3.5em;
	text-align: center;
}

h2 {
	font-size: 2em;
	text-align: center;
}

h3 {
	font-size: 1.5em;
	text-align: center;
}

nav ul {
	text-align: center;
	padding: 0;
}

nav ul li {
	display: inline;
	margin: 0 4em;
}

form, form div {
	display: inline-block;
}

a {
	cursor: pointer;
	outline: none;
}

button {
	cursor: pointer;
	outline: none;
}

#address {
	display: inline-block;
	text-align: center;
	list-style-type: none;
}

#address li {
	display: inline-block;
	list-style-type: none;
	margin: 0 2px;
}



