



@import url( 'https://fonts.googleapis.com/css?family=Montserrat:300' );



html {
	font-family: 'Montserrat', sans-serif;
	max-width: 780px;
	margin: auto;
}

h1 {
	font-size: 3.5em;
	text-align: center;
}

h2 {
	font-size: 2em;
	text-align: center;
}

nav ul {
	padding: 0;
	text-align: center;
}

nav ul li {
	margin-left: 4em;
	margin-right: 4em;
	display: inline;
}

form, form div {
	display: inline-block;
}

#map {
	height: 600px;
}



