<!DOCTYPE html>



<html lang="en">
	
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{ url_for( 'static', filename='css/style.css' ) }}">
		<link rel="stylesheet" href="{{ url_for( 'zipcode.static', filename='css/map.css' ) }}">
		{% if title %}
			<title>{{ title }} - MarketMeals</title>
		{% else %}
			<title>MarketMeals</title>
		{% endif %}
		<!-- JavaScript file for frontend calls to the Flask backend -->
		<script type="text/javascript" src="{{ url_for( 'zipcode.static', filename='js/http.js' ) }}"></script>
		<!-- Local scripts to create and operate the google maps api -->
		<script type="text/javascript" src="{{ url_for( 'zipcode.static', filename='js/map.js' ) }}"></script>
		<script type="text/javascript" src="{{ url_for( 'zipcode.static', filename='js/geo.js' ) }}"></script>
		<script type="text/javascript" src="{{ url_for( 'zipcode.static', filename='js/view.js' ) }}"></script>
		<!-- Execute a test database query from frontend JavaScript -->
		<script type="text/javascript" src="{{ url_for( 'static', filename='js/query.js' ) }}"></script>
	</head>
	
	<body>
		<header>
			<h1>MarketMeals</h1>
			<nav>
				<ul>
					<a href="/"><li>Home</li></a>
					<a href="/about"><li>About</li></a>
					<!-- We'll remove the comment below if/when we get the login functionality going -->
					<!-- <a href='/login'><li>Login/Register</li></a> -->
				</ul>
			</nav>
		</header>
		<main>
			{% block content %}{% endblock %}
		</main>
	</body>
	
</html>


