{% extends 'base.html' %}



{% block content %}
	<h1>{{ market.name }}</h1>
	<h3>{{ market.formatted_address }}</h3>
	
	<p style="text-align: center">
		{{ market.address_1 }} <br>
		{{ market.address_2 }} <br>
		{{ market.city }}, {{ market.state }} {{ market.zip_code }}
	</p>
	
	<!-- <div id='veg_and_farm_list'> -->
		
		<!-- <ul id="address">
			{% for part in market.address_components %}
				{% if part.types[ 0 ] != 'neighborhood' %}
					<li>{{ part.short_name }}</li>
				{% endif %}
			{% endfor %}
		</ul> -->
		
	{% for farmer in farmers %}
		
		<!-- <h2 style="text-align: left">{{ farmer.first_name }} {{ farmer.last_name }}</h2> -->
		<!-- <h3 style="text-align: left">{{ farmer.first_name }} {{ farmer.last_name }}</h3> -->
		
		<h3>Produce available at {{ farmer.first_name }} {{ farmer.last_name }</h3>
		
		{% for category in categories %}
			<!-- <h3>{{ category.name }}</h3> -->
			<h4>{{ category.name }}</h4>
			
			{% for key in identifiers %}
				{% if key == farmer.farmer_id %}
					
					<ul>
						{% for id in identifiers.get( key ) %}
							
								{% if id.category_id == category.category_id %}
									<!-- <h4 style="text-indent: 50px">{{ a.name }}</h4> -->
									<li>{{ id.name }}</li>
								{% endif %}
							
						{% endfor %}
					</ul>
					
				{% endif %}
			{% endfor %}
			
		{% endfor %}
		<hr />
		
	{% endfor %}
	
	
	<!-- <h2>Recipes from Products Being Sold at</br>{{ market.name }}</h2> -->
	<h3>Recipes from Products Being Sold at</br>{{ market.name }}</h3>
		
	<ul>
		{% for recipe in recipes %}
			<li><a href="/recipe?recipe={{ recipe.recipe_name }}">{{ recipe.name }}</a></li>
		{% endfor %}
	</ul>
		
		
		<!-- <h2>What's available this week?</h2>
		<div id='{{ veg_id }}' class=''>
			
			<h3>veg_name</h3>
			<div id='{{ farm_id }}'>
				<h4><a href='#'><button>Visit</button><a/> - farm_name</h4>
			</div>
			<div id='{{ farm_id }}'>
				<h4><a href='#'><button>Visit</button><a/> - farm_name</h4>
			</div>
			<div id='{{ farm_id }}'>
				<h4><a href='#'><button>Visit</button><a/> - farm_name</h4>
			</div>
			<div id='{{ farm_id }}'>
				<h4><a href='#'><button>Visit</button><a/> - farm_name</h4>
			</div>
			
		</div>
		
		<div id='{{ veg_id }}' class=''>
			
			<h3>veg_name</h3>
			<div id='{{ farm_id }}'>
				<h4><a href='#'><button>Visit</button><a/> - farm_name</h4>
			</div>
			<div id='{{ farm_id }}'>
				<h4><a href='#'><button>Visit</button><a/> - farm_name</h4>
			</div>
			<div id='{{ farm_id }}'>
				<h4><a href='#'><button>Visit</button><a/> - farm_name</h4>
			</div>
			<div id='{{ farm_id }}'>
				<h4><a href='#'><button>Visit</button><a/> - farm_name</h4>
			</div>
			
		</div>
		
		<div id='{{ veg_id }}' class=''>
			
			<h3>veg_name</h3>
			<div id='{{ farm_id }}'>
				<h4><a href='#'><button>Visit</button><a/> - farm_name</h4>
			</div>
			<div id='{{ farm_id }}'>
				<h4><a href='#'><button>Visit</button><a/> - farm_name</h4>
			</div>
			<div id='{{ farm_id }}'>
				<h4><a href='#'><button>Visit</button><a/> - farm_name</h4>
			</div>
			<div id='{{ farm_id }}'>
				<h4><a href='#'><button>Visit</button><a/> - farm_name</h4>
			</div>
			
		</div>
		
		</div>
		
		<div id='recipe_list'>
			
			<h2>What all these can make...</h2>
			<div id='{{ farm_id }}'>
				<h3><a href='#'><button>See Recipe</button><a/>	- recipe_name</h3>
			</div>
			<div id='{{ farm_id }}'>
				<h3><a href='#'><button>See Recipe</button><a/>	- recipe_name</h3>
			</div>
			<div id='{{ farm_id }}'>
				<h3><a href='#'><button>See Recipe</button><a/>	- recipe_name</h3>
			</div>
			<div id='{{ farm_id }}' class=''>
				<h3><a href='#'><button>See Recipe</button><a/>	- recipe_name</h3>
			</div>
			
		</div>
		
	</div> -->
	
{% endblock %}



