<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">




    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"><!--base css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"><!-- custom css overrides bootstrap -->

    <!--Following looks to see if title is provided, renders default title if not-->
    {% if title %}
      <title>{{ title }} - MarketMeals</title>
    {% else %}
      <title>MarketMeals</title>
    {% endif %}
  </head>
  <body>
    <header>
      <h1>MarketMeals</h1>
      <nav>
        <ul>
          <a href='/'><li>Home</li></a>
          <a href='/about'><li>About</li></a>
          <a href='/recipe'><li>Recipes</li></a>
          <!--We'll remove the comment below if/when we get the login functionality going.-->
          <!--<a href='/login'><li>Login/Register</li></a>-->
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
