{% extends 'base.html' %}

{% block content %}
<p>There have been recent trends for people to prepare more home-cooked meals, and a greater desire for more produce being locally-sourced.</p>

<p>Combining these two trends, this app will show people what farmers markets are near them, what produce is available, and suggest recipes that can be prepared with the produce found at that market.</p>

<p>This will allow people the ease of combining meal planning and recipe finding with sourcing the ingredients from local, sustainable sources.</p>

<p>This helps to improve eating habits, allow people to explore local farmers markets, and help to support local farmers and their business by connecting them with local customers in new ways.</p>
{% endblock %}
