{% extends 'base.html' %}

{% block content %}
            <img style='display: block; margin: auto; padding-top: 1rem;' src="{{ url_for('static', filename='images/farmer_sm.jpg') }}">
    <h2 class='text-center'>{{farmer.farmer_name}}</h2>

    {% for prodcat in prodcats %}

        <h3>{{ prodcat.prodcat_name }}</h3>

        <ul>
            {% for product in product_list %}

                {% if prodcat.prodcat_id == product.prodcat_id %}

                    <li>{{ product.product_name }}</li>

                {% endif %}


            {% endfor %}
        </ul>
        <hr />

    {% endfor %}

{% endblock %}