{% extends 'base.html' %}



{% block content %}
	<h3>{{ zipcode }}</h3>
	<!-- Map element to contain the api map -->
	<div id="map"></div>
	<!-- Placeholder for custom market tooltips -->
	<div id="tooltip">Tooltip</div>
	<!-- Local script to create and operate api -->
	<script type="text/javascript" src="{{ url_for( 'static', filename='js/map.js' ) }}"></script>
	<script type="text/javascript" src="{{ url_for( 'static', filename='js/market.js' ) }}"></script>
	<!-- Importing in Google Maps api source -->
	<script
		async
		defer
		type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuoLYlF4zLuGmp1Ex9Q2J2w8mYpG6FiZM&callback=drawMap&libraries=places"
	>
	</script>
{% endblock %}



