{% extends 'base.html' %}



{% block content %}
	<h1>{{ market.name }}</h1>
	<h3>{{ market.formatted_address }}</h3>

	<div id='veg_and_farm_list'>
		
		<!-- <ul id="address">
			{% for part in market.address_components %}
				{% if part.types[ 0 ] != 'neighborhood' %}
					<li>{{ part.short_name }}</li>
				{% endif %}
			{% endfor %}
		</ul> -->
		
		<h2>What's available this week?</h2>
		<div id='{{ veg_id }}' class=''>
			
			<h3>veg_name</h3>
			<div id='{{ farm_id }}'>
				<h4><a href='#'><button>Visit</button><a/> - farm_name</h4>
			</div>
			<div id='{{ farm_id }}'>
				<h4><a href='#'><button>Visit</button><a/> - farm_name</h4>
			</div>
			<div id='{{ farm_id }}'>
				<h4><a href='#'><button>Visit</button><a/> - farm_name</h4>
			</div>
			<div id='{{ farm_id }}'>
				<h4><a href='#'><button>Visit</button><a/> - farm_name</h4>
			</div>
			
		</div>
		
		<div id='{{ veg_id }}' class=''>
			
			<h3>veg_name</h3>
			<div id='{{ farm_id }}'>
				<h4><a href='#'><button>Visit</button><a/> - farm_name</h4>
			</div>
			<div id='{{ farm_id }}'>
				<h4><a href='#'><button>Visit</button><a/> - farm_name</h4>
			</div>
			<div id='{{ farm_id }}'>
				<h4><a href='#'><button>Visit</button><a/> - farm_name</h4>
			</div>
			<div id='{{ farm_id }}'>
				<h4><a href='#'><button>Visit</button><a/> - farm_name</h4>
			</div>
			
		</div>
		
		<div id='{{ veg_id }}' class=''>
			
			<h3>veg_name</h3>
			<div id='{{ farm_id }}'>
				<h4><a href='#'><button>Visit</button><a/> - farm_name</h4>
			</div>
			<div id='{{ farm_id }}'>
				<h4><a href='#'><button>Visit</button><a/> - farm_name</h4>
			</div>
			<div id='{{ farm_id }}'>
				<h4><a href='#'><button>Visit</button><a/> - farm_name</h4>
			</div>
			<div id='{{ farm_id }}'>
				<h4><a href='#'><button>Visit</button><a/> - farm_name</h4>
			</div>
			
		</div>
		
		</div>
		
		<div id='recipe_list'>
			
			<h2>What all these can make...</h2>
			<div id='{{ farm_id }}'>
				<h3><a href='#'><button>See Recipe</button><a/>	- recipe_name</h3>
			</div>
			<div id='{{ farm_id }}'>
				<h3><a href='#'><button>See Recipe</button><a/>	- recipe_name</h3>
			</div>
			<div id='{{ farm_id }}'>
				<h3><a href='#'><button>See Recipe</button><a/>	- recipe_name</h3>
			</div>
			<div id='{{ farm_id }}' class=''>
				<h3><a href='#'><button>See Recipe</button><a/>	- recipe_name</h3>
			</div>
			
		</div>
			
	</div>
{% endblock %}


